<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892051218725-vjkpg53fbtgbndscjchdvao39eqpdmrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892051218725-vjkpg53fbtgbndscjchdvao39eqpdmrt</string>
	<key>API_KEY</key>
	<string>AIzaSyANoFytzTtfP7NPYri7EN2vFBtu_LdtA7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>892051218725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.swmaestro.repl.gifthub</string>
	<key>PROJECT_ID</key>
	<string>gifthub-21e0a</string>
	<key>STORAGE_BUCKET</key>
	<string>gifthub-21e0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892051218725:ios:46f4f2d8121c342fffbacc</string>
</dict>
</plist>