<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASfJNUog2St-rmwjy6Mn87_f__cVEcqPk</string>
	<key>GCM_SENDER_ID</key>
	<string>265736158066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.swmaestro.repl.GiftHub</string>
	<key>PROJECT_ID</key>
	<string>gifthub-production-3d052</string>
	<key>STORAGE_BUCKET</key>
	<string>gifthub-production-3d052.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265736158066:ios:68e2272947ac3370963beb</string>
</dict>
</plist>