name: Fastlane Distribute

on:
  push:
    branches: [ main ]

jobs:
  android:
    runs-on: ubuntu-latest
    env:
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Ruby, JRuby and TruffleRuby
        uses: ruby/setup-ruby@v1
      - name: Fastlane Action
        uses: maierj/fastlane-action@v3.0.0
        with:
          lane: 'android distribute'
          subdirectory: 'android'
  ios:
    runs-on: macos-latest
    env:
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Ruby, JRuby and TruffleRuby
        uses: ruby/setup-ruby@v1
      - name: Fastlane Action
        uses: maierj/fastlane-action@v3.0.0
        with:
          lane: 'ios distribute'
          subdirectory: 'ios'