name: Flutter CI

on:
  pull_request:
    branches: [ main, dev ]

jobs:
  analysis:
    runs-on: ubuntu
    steps:
      - uses: actions/checkout@v3
      - name: Setup Flutter
        uses: subosito/flutter-action@v2.10.0
        with:
          channel: 'stable'
      - name: Analyze
        run: |
          flutter analyze
